@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
  @apply p-0 m-0;
}

html {
  font-size: 62.5%;
}

.cont {
  margin: 0 auto;
  max-width: 164rem;
  width: 100%;
}

@font-face {
  font-family: 'FiraGoRegular';
  src: url('/fonts/FiraGO-Regular.woff') format("woff");
}

.font-fR {
  font-family: 'FiraGoRegular';
}

.font-fB {
  font-family: 'FiraGoRegular';
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
  font-feature-settings: 'case' on;
}

a {
  text-decoration: none;
}

button {
  outline: none;
}

.indicators {
  gap: 30px;
}


@media (max-width:1600px) {
  .cont {
    width:95%;
    margin-left:auto;
    margin-right: auto;
  }
}